Repository ncs-northware/northware, changes with the labels that .github/labeler.yml gives for each.
All labels: github-management, apps/docs, apps/northware-cockpit, packages/auth, packages/database and api, packages/tsconfig, packages/tailwind-config, packages/theme, packages/ui

fix(biome): Ignore build-folders in .foldername Folders, use biomeVersions config in renovate
  .github/renovate.json
  biome.json
Labels: github-management

docs(chore): Define Background-Color for Helper Label-Badge apps/*
  apps/docs/docs/40-github-management/projectmanagement.mdx
  apps/docs/docs/40-github-management/workflows.mdx
Labels: apps/docs

docs(biome): Biome and Ultracite
  apps/docs/docs/10-General/formatting.md
  apps/docs/docs/40-github-management/projectmanagement.mdx
  apps/docs/docs/40-github-management/workflows.mdx
Labels: apps/docs

docs(github-management): Fix broken link to Dependabot docs
  apps/docs/docs/40-github-management/projectmanagement.mdx
Labels: apps/docs

feat(biome): Enhance Biome Usage
  biome.json
  package.json
  turbo.json
Labels: none

chore(github-management): Update autofix and turborepo CI workflows
  .github/workflows/autofix.yml
  .github/workflows/turborepo-ci.yml
Labels: github-management

.github/labeler.yml:

# This file serves as configuration file for the labeler Workflow (.github/workflows/pr_labeler.yml)

# Labels for Github Health Files

github-management:
  - changed-files:
      - any-glob-to-any-file: ".github/**"

# Labels for apps/* changes

apps/docs:
  - changed-files:
      - any-glob-to-any-file: apps/docs/**

apps/northware-cockpit:
  - changed-files:
      - any-glob-to-any-file: apps/northware-cockpit/**

# Labels for pakages/* changes

packages/auth:
  - changed-files:
      - any-glob-to-any-file: packages/auth/**

packages/database and api:
  - changed-files:
      - any-glob-to-any-file: packages/database/**

packages/tsconfig:
  - changed-files:
      - any-glob-to-any-file: packages/tsconfig/**

packages/tailwind-config:
  - changed-files:
      - any-glob-to-any-file: packages/tailwind-config/**

packages/theme:
  - changed-files:
      - any-glob-to-any-file: packages/theme/**

packages/ui:
  - changed-files:
      - any-glob-to-any-file: packages/ui/**
